@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">تم إستقبال الطلب بنجاح</h1><br />
        <img src="~/images/Logo.png" width="50%" />
    </div>
    <div class="col-12 text-center summF">
        <br />
        شكراً لك لإتمام طلبك  <br />
        لقد قمنا باستقبال طلبك وسنقوم بإرسال رسالة التأكيد قريبا..          
        <br />
        رقم طلبك هو: @Model
    </div>
</div>