﻿@{
    ViewData["Title"] = "صفحة المستخدم";
}
<style>
  /*   .container {
        margin-right: 1rem;
    } */
</style>

<div class="d-flex" id="wrapper">
    <partial name="_UNavbar" />
    <!-- Page Content -->
    <div id="page-content-wrapper">
       
    </div>
</div>

@section scripts {
}