﻿@{
    ViewData["Title"] = "الطلبات";
}

<div class="d-flex" id="wrapper">
    <partial name="_UNavbar" />
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="p-2">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <br />

        <table id="tblData" class="table table-responsive p-2 table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>المعرف</th>
                    <th>الاسم</th>
                    <th>حالة الطلب</th>
                    <th>المجموع</th>
                    <th>التفاصيل</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}