@{
    ViewData["Title"] = "قائمة المستخدمين";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="text-center mt-3">
                <h2>@ViewData["Title"]</h2>
                <hr />
            </div>
            <div class="table-responsive p-2">
                <table id="userData" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>الاسم</th>
                            <th>البريد الالكتروني</th>
                            <th>رقم التواصل</th>
                            <th>الدور</th>
                            <th>خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#userData").DataTable({
                ajax: {
                    url: "/Admin/Users/GetAll",
                },
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/ar.json",
                },
                columns: [
                    { data: "name", with: "10%" },
                    { data: "email", with: "30%" },
                    { data: "phone", with: "10%" },
                    { data: "role", with: "10%" },
                    {
                        with: "20%",
                        data: "id",
                        orderable: false,
                        render: function (data, type, row) {
                            return '<td style = "width:150px"><div class="btn-group"><a class="btn" href="/Admin/Users/Upgrade?id=' + data + ' "><i class="fa fa-arrow-up"></i></a><a class="btn" href="/Admin/Users/Downgrade/' + data + ' "><i class="fa fa-arrow-down"></i></a><a class= "btn" href="/Admin/Users/Block/' + data + ' "><i class="fa fa-trash"></i></a></div></td> ';
                        }
                    }
                ]
            })
        })

        $(function () {
            var upgrade = '@TempData["upgrade"]';
            if (upgrade != "") {
                alertify.success(upgrade);
            }
            var downgrade = '@TempData["downgrade"]';
            if (downgrade != "") {
                alertify.success(downgrade);
            }
            var block = '@TempData["block"]';
            if (block != "") {
                alertify.error(block);
            }
        });
    </script>
}
 @*  return '<td style="width:150px"><div class="btn-group"><a class="btn" href="/Admin/Users/Upgrade" asp-area="Admin" asp-controller="Users" asp-action="Upgrade" asp-route-id=" ' + data + ' "><i class="fa fa-arrow-up"></i></a> <a class="btn" asp-area="Admin" asp-controller="Users" asp-action="Downgrade" asp-route-id=" ' + data + ' "><i class="fa fa-arrow-down"></i></a><a class="btn" asp-area="Admin" asp-controller="Users" asp-action="Block" asp-route-id=" ' + data + ' "><i class="fa fa-trash"></i></a></div></td> '; *@