@model _7Colors.Models.Product

@{
    ViewData["Title"] = "إضافة منتج جديد";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h4 class="text-info">@ViewData["Title"] </h4>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="p-4 rounded border row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h4>@ViewBag.message</h4>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Price"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Price" class="form-control" />
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Image"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Image" class="form-control" type="file"/>
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ProductColor"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="ProductColor" class="form-control"/>
                        </div>
                        <span asp-validation-for="ProductColor" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="TypeId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="TypeId" asp-items="ViewBag.TypeId" class="form-control"><option disabled selected>--اختر نوع المنتج--</option></select>

                        </div>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="TagId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="TagId" asp-items="@ViewBag.TagId" class="form-control"><option disabled selected>--اختر العلامة الخاصة--</option></select>
                        </div>
                        <span asp-validation-for="TagId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="IsAvailable"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="IsAvailable" type="checkbox" checked />
                        </div>
                        <span asp-validation-for="IsAvailable" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="IsPublished"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="IsPublished" type="checkbox" checked />
                        </div>
                        <span asp-validation-for="IsPublished" class="text-danger"></span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <input class="btn" type="submit" value="حفظ" />
                        <a asp-action="Index" class="btn">عودة للقائمة</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}