﻿@{
    ViewData["Title"] = "صفحة المسؤول";
}
<style>
    .container {
        margin-right: 1rem;
    }
</style>

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div>
        </div>
        <div>
            <ul>
                <li>
                    خطوات إضافة مواضيع وصور في الضفحة الرئيسية:
                    <ol>
                        <li>
                            1- مواضيع الصفحة الرئيسية >> إضافة
                        </li>
                        <li>
                            2- صور الصفحة الرئيسية >> إضافة >> الموضوع
                        </li>                       
                    </ol>
                <li>
                    خطوات إضافة منتجات:
                    <ol>
                        <li>
                            1- أنواع المنتجات >> إضافة
                        </li>
                        <li>
                            2- العلامات الخاصة >> إضافة
                        </li>
                        <li>
                            3- المنتجات >> إضافة >> نوع المنتج + علامة خاصة
                        </li>
                    </ol>
                </li>
                <li>
                    ملاحظات :
                <ol>                   
                    <li>
                        ستعرض الصور التي لها خاصية عرض الصورة بقيمة نعم 
                    </li>
                    <li>
                        المنتج الذي ليس متوفراُ أو ليس للعرض أو ليس لديه صورة ، تم تظليله بالأحمر
                    </li>
                </ol>
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts {
    <script></script>
}