﻿@{
    ViewData["Title"] = "صفحة المسؤول";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- Page Content -->
    <div id="page-content-wrapper">
            <div>              
            </div>
            <div>
                <ul>
                    <li>
                        خطوات إضافة مواضيع في الضفحة الرئيسية: 
                        <ol>
                            <li>
                                1- إضافة موضوع ووصفه
                            </li>
                            <li>
                                2- إضافة صورة وتعيين الموضوع التابعة له
                            </li>
                        <li>
                             ملاحظة : ستعرض الصور التي تم تأكيد عرضها 
                        </li>
                        </ol>
                    <li>
                        خطوات إضافة منتجات:
                        <ol>
                            <li>
                                1- إضافة نوع المنتج
                            </li>
                            <li>
                                2- إضافة العلامة الخاصة 
                            </li>
                            <li>
                                3- إضافة منتج وتعيين نوعه وعلامته الخاصة له
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
    </div>
</div>

@section scripts{
    <script></script>
}