﻿@{
    ViewData["Title"] = "صفحة المسؤول";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <header class="showcase">
            <div class="showcase-top">              
            </div>
            <div class="showcase-content">              
            </div>
        </header>
    </div>
</div>

@section scripts{
    <script></script>
}