@{
    ViewData["Title"] = "من نحن";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />

<div class="about">
    <h3 class="multicolortext">الرؤيـــة</h3>
    <br />
    <div class="divCon">
    <img src="~/images/vision.png" />
    <p>
        نهدف إلى تخريج نسبة لا تقل عن 100% من عدد الطلاب الكلي للمؤسسة القادرين على حمل المسؤولية الموضوعة فوق عاتقهم مع متطلبات العصر الحديث والتكنولوجيا، من خلال بيئة تربوية وتعليمية وترفيهية وابداعية يمكن للمجتمع الاستفادة منها وإفادتها.
    </p>
    </div>
</div>
<br />
<br />

<div class="about">
    <h3 class="multicolortext">الرسالة</h3>
    <br />
    <div class="divCon">
    <img src="~/images/goal.png" />
    <p>نسعى عبر "الألوان السبعة" إلى تحقيق مبدأ التنمية التعليمية المستديمة، بالإضافة إلى متابعة مستمرة على الدوام لكافة المشتركين لضمان تخريج كادر ذو كفاءة عالية ومهارات متميزة..</p>
    </div>
</div>
