@{
    ViewData["Title"] = "من نحن";
}
@* <div class="about">
    <h3 class="multicolortext">رؤيـــتنا</h3>
    <br />
    <div class="IconP">
        <img src="~/images/vision.png" />
        <p>
            نهدف إلى تخريج نسبة لا تقل عن 100% من عدد الطلاب الكلي للمؤسسة القادرين على حمل المسؤولية الموضوعة فوق عاتقهم مع متطلبات العصر الحديث والتكنولوجيا، من خلال بيئة تربوية وتعليمية وترفيهية وابداعية يمكن للمجتمع الاستفادة منها وإفادتها.
        </p>
    </div>
</div> *@
@* <div class="about">
    <h3 class="multicolortext">رسالتنا</h3>
    <br />
    <div class="IconP">
        <img src="~/images/goal.png" />
        <p>
            نسعى عبر "الألوان السبعة" إلى تحقيق مبدأ التنمية التعليمية المستديمة، بالإضافة إلى متابعة مستمرة على الدوام لكافة المشتركين لضمان تخريج كادر ذو كفاءة عالية ومهارات متميزة..
        </p>
    </div>
</div>
<div class="about">
    <h3 class="multicolortext">قيــمــنا</h3>
    <br />
    <div class="IconP">
        <img src="~/images/values.png" />
        <p>نسعى عبر "الألوان السبعة" إلى تحقيق مبدأ التنمية التعليمية المستديمة، بالإضافة إلى متابعة مستمرة على الدوام لكافة المشتركين لضمان تخريج كادر ذو كفاءة عالية ومهارات متميزة</p>
    </div>
</div> *@
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="heading multicolortext"> <span>@ViewData["Title"]</span> </h1>
            </div>
        </div>
    </div>
    <div class="testimonial-center container pt-5">
        <div class="testimonial">
            @*  <span>&ldquo;</span> *@
            <div class="img-cover">
                <img src="~/images/vision.png" />
            </div>
            <h4 class="multicolortext">رؤيـــتنا</h4>
            <p>
                نهدف إلى تخريج نسبة لا تقل عن 100% من عدد الطلاب الكلي للمؤسسة القادرين على حمل المسؤولية الموضوعة فوق عاتقهم مع متطلبات العصر الحديث والتكنولوجيا، من خلال بيئة تربوية وتعليمية وترفيهية وابداعية يمكن للمجتمع الاستفادة منها وإفادتها
            </p>           
        </div>
        <div class="testimonial">
            @* <span>&ldquo;</span> *@
            <div class="img-cover goal">
                <img src="~/images/goal.png" />
            </div>
            <h4 class="multicolortext">رسالتنا</h4>
            <p>
                نسعى عبر "الألوان السبعة" إلى تحقيق مبدأ التنمية التعليمية المستديمة، بالإضافة إلى متابعة مستمرة على الدوام لكافة المشتركين لضمان تخريج كادر ذو كفاءة عالية ومهارات متميزة ..
            </p>
           
        </div>
        <div class="testimonial">
            @* <span>&ldquo;</span> *@
            <div class="img-cover">
                <img src="~/images/values.png" />
            </div>
            <h4 class="multicolortext">قيــمــنا</h4>
            <p>
                نسعى عبر "الألوان السبعة" إلى تحقيق مبدأ التنمية التعليمية المستديمة، بالإضافة إلى متابعة مستمرة على الدوام لكافة المشتركين لضمان تخريج كادر ذو كفاءة عالية ومهارات متميزة ..
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="heading multicolortext"> <span>شركائنا</span> </h1>
            </div>
        </div>
    </div>
    <div class="testimonial-center container pt-5">
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="img-cover">
                <img src="~/images/testimonial.png" />
            </div>
            <h4>Art Sip</h4>
        </div>
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="img-cover">
                <img src="~/images/233213.png" />
            </div>
            <h4>Will Smith</h4>
        </div>
    </div>
</section>