<div class="testimonial-center container pt-5">
    <div class="testimonial">
        <div class="img-cover">
            <img src="~/images/privacy.png" />
        </div>
        <h4 class="multicolortext">سياسة الخصوصية</h4>
        <p class="text-lg-center">
            منصة الألوان السبعة تستخدم التوثيق بحساب Google لتسهيل عملية تسجيل الأطفال في المنصة .
            والمعلومات التي تم الوصول إليها من خلال عملية التسجيل تصنف غير حساسة وتشمل: الاسم الأول والأخير ، المعرف و البريد الالكتروني.
            وقد تم تخزين هذه المعلومات لتوثيق المستخدم والتسجيل في الدورات التعليمية واستخدامها في المتجر الالكتروني
            ولحرصنا على حماية الخصوصية نؤكد حمايتنا لهذه المعلومات وعدم بيعها أو مشاركتها مع أي طرف آخر
        </p>
        <hr />
        <h4 class="multicolortext">Privacy</h4>
        <p class="text-lg-center">
            The Seven Colors uses Google Authentication to facilitate the process of registering children on the platform.
            The information accessed through the registration process is classified as non-sensitive and includes: first and last name, ID and email.
            This information is stored for user authentication, registration in educational courses, and usage in the online store
            In order to protect privacy, we confirm that we protect this information and not sell it or share it with any other party
        </p>
        </div>
        </div>