@model _7Colors.ViewModels.UserViewModel

@{
    ViewData["Title"] = "حساب المستخدم";
}
<div class="d-flex" id="wrapper">
    <partial name="_UNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h2 class="text-info">@ViewData["Title"]</h2>
            <div class="p-4 rounded border row col-8">
                <form asp-action="Account">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Nameidentifier" type="hidden" />
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Name" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="GivenName" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="GivenName" class="form-control" />
                        </div>
                        <span asp-validation-for="GivenName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Surname" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Surname" class="form-control" />
                        </div>
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Email" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Email" class="form-control" readonly />
                            @*                     @Model.Email
                            *@
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="ParentEmail" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="ParentEmail" class="form-control" />
                        </div>
                        <span asp-validation-for="ParentEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Phone" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Phone" class="form-control" value="05" lang="en" />
                        </div>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="ParentPhone" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="ParentPhone" class="form-control" value="05" lang="en" />
                        </div>
                        <span asp-validation-for="ParentPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="StreetAddress" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="StreetAddress" class="form-control" />
                        </div>
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Neighborhood" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Neighborhood" class="form-control" />
                        </div>
                        <span asp-validation-for="Neighborhood" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="City" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="City" class="form-control" />
                        </div>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="PostalCode" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="PostalCode" class="form-control" type="number" lang="en" />
                        </div>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Age" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Age" class="form-control" type="number" lang="en" />
                        </div>
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Role" class="control-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Role" class="form-control" readonly />
                        </div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="تعديل" class="btn" />
                        <a asp-action="Index" asp-controller="Home" class="btn">الصفحة الرئيسية</a>
                    </div>
                </form>
                <a class="mt-2" href="/Messages/New">
                    <i class="fa fa-envelope"></i>
                    لتغيير الدور الرجاء التواصل مع الإدارة
                </a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
