@model _7Colors.Models.Image

@{
    ViewData["Title"] = "تعديل الصورة";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h4 class="text-info">@ViewData["Title"] </h4>
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="p-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <h4>@ViewBag.message</h4>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Title"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Title" class="form-control" />
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Description"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Description" class="form-control" />
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Url"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Url" class="form-control" type="file" />
                        </div>
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="GroupId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="GroupId" asp-items="ViewBag.GroupId" class="form-control"></select>
                        </div>
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="IsPublished"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="IsPublished" type="checkbox" checked />
                        </div>
                        <span asp-validation-for="IsPublished" class="text-danger"></span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <input class="btn" type="submit" value="تعديل" />
                        <a asp-action="Index" class="btn">عودة للقائمة</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}