@model _7Colors.Models.SpecialTag

@{
    ViewData["Title"] = "تفاصيل العلامة الخاصة";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">     
        <h4 class="text-info">@ViewData["Title"]</h4>
        <form method="post">
            <div class="p4 rounded border row">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Name" class="form-control" />
                        @Model.Name
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">تعديل</a>
                    <a asp-action="Index" class="btn">العودة للقائمة</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}