@model IEnumerable<_7Colors.Models.SpecialTag>

@{
    ViewData["Title"] = "قائمة العلامات الخاصة";
}
<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">    
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <h4 class="text-info">@ViewData["Title"]</h4>
                </div>
                <div class="col-lg-3">
                    <a asp-area="Admin" asp-controller="SpecialTags" asp-action="Create" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> إضافة</a>
                </div>
            </div>
            <br />

            <div>
                <table class="table table-striped border table-responsive p-2">
                    <thead>
                        <tr class="table-info">
                            <th>
                                @Html.DisplayNameFor(c => c.Name)
                            </th>
                            <th>خيارات</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                    <partial name="_Buttons" model="@item.Id" />
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
 
}
